[submodule "lib/Communications"]
	path = lib/Communications
	url = git@github.com:Dygmalab/DefyCommunications.git
[submodule "lib/PluginUpgrade"]
	path = lib/PluginUpgrade
	url = git@github.com:Dygmalab/KaleidoscopePluginKeyScannerUpgrade.git
[submodule "lib/PluginLedLibrary"]
	path = lib/PluginLedLibrary
	url = git@github.com:Dygmalab/KaleidoscopePuglinLedLibraryDefy.git
