[submodule "lib/Communications"]
	path = lib/Communications/Communications
	url = git@github.com:Dygmalab/DefyCommunications.git
[submodule "lib/PluginUpgrade"]
	path = lib/PluginUpgrade/PluginUpgrade
	url = git@github.com:Dygmalab/KaleidoscopePluginKeyScannerUpgrade.git
[submodule "lib/kaleidoscope"]
	path = lib/kaleidoscope/kaleidoscope
	url = git@github.com:Dygmalab/Kaleidoscope-Dygma.git
[submodule "lib/NeuronLedLibrary"]
	path = lib/NeuronLedLibrary
	url = git@github.com:Dygmalab/NeuronLedLibrary.git
	branch = main
