{
  "branches": [
    "main",
    "+([0-9])?(.{+([0-9]),x}).x"
  ],
  "tagFormat":"pre_release_${version}",
  "private":true,
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "docs/CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["docs/CHANGELOG.md"]
      }
    ],
    [
        "@semantic-release/github",
        {
          "assets": [
            {
              "path": ".pio/build/rpipico/firmware.uf2"
            }
          ]
        }
      ]
  ]
}